// @import "normalize";
html , body {
	width: 100%;
	height: 100%;

}

body {
	font-family: $font-family;
    font-weight: normal;
    background: $bg-color;
    color: $text-color;
}

.container {
	width: 960px;
	margin: 0 auto;
}