$basePadding: 1rem;

@for $i from 1 through 5 {
    .p-#{$i} {
        padding: $basePadding * $i;
    }

    .px-#{$i} {
    	padding-left: $basePadding * $i;
    	padding-right: $basePadding * $i;
    }

    .py-#{$i} {
    	padding-top: $basePadding * $i;
    	padding-bottom: $basePadding * $i;
    }
}