$color-primary: #3aa3e3;
$color-success: #66bb6a;
$color-danger: #e75650;
$color-warning: #ffc82c;
$color-info: #9dd1f1;
$color-grey: #f4f4f4;

$text-color: #484746;
$bg-color: #f2f2f2;

$border-radius: 3px;

$font-family: "Nunito", sans-serif;

$box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);

$border-color: #f2f2f2;
