.card {
	background: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: $box-shadow;
	border-radius: $border-radius;

	&-header {
		padding: 1rem;
	    border-bottom: 1px solid #e0e0e0;
	}
	&-title {
		font-size: 1.68rem;
		font-weight: 200;
	}
	&-body {
		padding: .8rem 1.2rem;
		padding-bottom: 2rem;
	    line-height: 1.5rem;
	}
}