.collection {
	display:flex;
	flex-direction: column;
	background: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	padding-left: 0;
	&-title {
		font-size: 1.68rem;
		font-weight: 200;
	}
	&-item {
		display:flex;
		padding: .8rem 1.2rem;
	    line-height: 1.5rem;
	    margin: 0;
	    border-bottom: 1px solid #e0e0e0;

		a {
			text-decoration:none;
			color:$color-primary;
		}
	}
}