.form {
	display:grid;
	grid-gap:2rem;
	grid-template-columns: auto 1fr;
	margin-bottom:1.5rem;

	&-control {
		width:100%;
		padding: .6rem;
		border: none;
	    border-radius: .3rem;
	    box-sizing: border-box;
	    box-shadow: inset 0 0px 1px 1px rgba(0, 0, 0, 0.26);
	    color: $text-color;
	    background: #fff;
	}

	label {
		display:contents;
	}
}